.App {
  text-align: center;
}

.bar{
  display : flex;
  align-items: center;
  background-color : #42748d51;
  width: 100%;
  color : #5f5d5dd8;
  padding-left: 20px;
  height: 60px;
  border-radius: 8px;
}

.left-section {
  display: flex;
  align-items: center;
}

.img1{
  width: 110px;  /* 원하는 너비 */
  height: auto; /* 비율 유지 */
  margin-right: 20px; /* 텍스트와 간격 조절 */
  vertical-align: middle;
}

.home{
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 20px;
  margin-right: 70%;
}

.right-section{
  display: flex;
  gap: 20px;
  margin-left: 76%;
}

.signup-btn,
.login-btn{
  display: flex;
  gap: 30px;
}

.img2{
  width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
}
.box{
  display: flex;
  margin-top: 70%;
  width: 36%; 
  height: 300px;
  margin-left: 32%;
  overflow: auto; /* 내용이 넘치면 스크롤 표시 */
  background-color: #e0e0e0;
  border: 2px solid #ccc;
  border-radius: 8px; /*둥근 박스 제작*/
}
.bar1{
  display : flex;
  align-items: center;
  background-color : #42748d51;
  width: 100%;
  color : #5f5d5dd8;
  padding-left: 20px;
  height: 60px;
  margin-top: 70px;
  border-radius: 8px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
